@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@tailwind components;

@layer components {
  .primary-btn {
    background-color: theme('colors.primary');
    color: white;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    transition: opacity 200ms ease-in-out, transform 50ms ease-in-out;
  }

  .secondary-btn {
    color: theme('colors.secondary');
    border: 0.1rem solid theme('colors.secondary');
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    transition: opacity 200ms ease-in-out, transform 50ms ease-in-out;
  }

  .primary-btn:hover,
  .secondary-btn:hover {
    opacity: 0.7;
  }

  .primary-btn:active,
  .secondary-btn:active {
    transform: scale(0.9);
  }
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed');
